<!DOCTYPE html>
<html>
  <body>
    <h1>Welcome to my Projects</h1>
    {{> header}}
    <p> {{screamIt 'mounu'}} </p>
    <ul>
      <li>
        {{projectsList}}
      </li>
    </ul>
    {{> footer}}
  </body>
</html>
